@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.circle:nth-child(odd) {
  stroke-linecap: round;
  animation: circleAnimationRight 100s linear infinite;
  z-index: 0;
}

.circle:nth-child(even) {
  stroke-linecap: round;
  animation: circleAnimationLeft 100s linear infinite;
  z-index: 0;
}

@keyframes circleAnimationRight {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

@keyframes circleAnimationLeft {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(-360deg);}
}